body {
  margin: 0;
  padding: 0;
  background-color: black;
}

video {
  display: none;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  canvas {
    margin: auto;
    border: solid 1px grey;
  }
}